.signup_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 100vh;

  background-image: url(https://images.unsplash.com/photo-1608153917357-33666ba96cd5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NzZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .signup_box {
    margin: 10%;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px grey;
    padding: 2rem;

    .signup_title {
      text-align: center;
    }
  }
}

.fab {
  text-align: center;
  z-index: 1;
}