.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 44vh;
}

.ba {
    border-style: solid;
    border-width: 1px;
}

.b--black-20 {
    border-color: rgba(0, 0, 0, 0.2);
}

.db {
    display: block;
}

.normal {
    font-weight: normal;
}

.b {
    font-weight: bold;
}

.input-reset {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.input-reset::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.w-100 {
    width: 100%;
}

.black-80 {
    color: rgba(0, 0, 0, 0.8);
}

.black-60 {
    color: rgba(0, 0, 0, 0.6);
}

.pa2 {
    padding: 0.5rem;
}

.pa4 {
    padding: 2rem;
}

.mb2 {
    margin-bottom: 0.5rem;
}

.f6 {
    font-size: 0.875rem;
}

.measure {
    width: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}




.edit_profile-title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: "Courier New", Courier, monospace;
}

.edit_profile-button {
    background-color: #002244;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
        background-color: #4c516d;
    }
}


@media screen and (max-width: 515px){
        .measure {
            width: 100%;
            display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        }
    }