.signup_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 100vh;

  .signup_box {
    margin: 10%;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px grey;
    padding: 2rem;

    .signup_title {
      text-align: center;
    }
  }
}

.fab {
  text-align: center;
}
